<p>Známka – toť výtvarná zkratka, jasná a účelná. Je výsledkem spolupráce výtvarníka a rytce, který obetkává návrh výtvarníka kouzlem klasické a nesmlouvavé rytecké techniky. Podle známky se často usuzuje na vyspělost celého státního útvaru s jeho mnohotvárným životem. Má-li výtvarník toto na zřeteli, vidí před jak těžký a zodpovědný úkol byl postaven. Vše se stává tím vážnější, jde-li o známku, připomínající dějinnou událost vojenskou z dob bojů za osvobození našeho národa.
  Ujal jsem se s rozvahou i odvahou vypracování návrhu pamětních známek, oslavujících 20. výročí slavné zborovské bitvy – vždyť Zborov pro mne samotného znamená tolik zážitků čistě lidských jako žádný druhý kout světa. Na zborovském bojišti jsem dlel v roce 1922 plné čtyři měsíce a měl jsem možnost procházeti se spletí chodem, odkud pozorovali bratří valy protivníka; místy, kde nechal generál Čeček zbudovati výpadní bránu ,,Lunet Kaťu“, odkud vyrazili Vašátkovi úderníci a odkud vyběhl v čele své roty plukovník Josef Švec.
  </p>
<p><i>„Oslavy dvacátého výročí bitvy u Zborova 2. VII. 1917“. Věstník ministerstva pošt a telegrafů, 1937</i></p>
